// libs
//@import "../../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_variables";
//@import "../../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";

// Common
/* @import "common/variables";
@import "common/mixin";
@import "common/reset";

@import "common/global";
@import "common/list";
@import "common/text";
@import "common/common";

// Components
@import "components/grid";
@import "components/buttons";
@import "components/forms";
@import "components/navigation";
@import "components/block";
@import "components/accordion";
@import "components/slider";


// Layouts
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages"; */


@import "common/reset";
@import "bootstrap";
@import "fontface";


[data-slick]{
	//display: none;
}
[data-slick] > div{
  background-color: #fff;
  border-radius: 10px;
}
body {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
}
.header {
  height: 100px;
  padding: 20px;
  .logo img {
    height: 100%;
  }
}
main {
  background: linear-gradient(to bottom, rgba(139,195,62,1) 0%, rgba(127,175,58,1) 100%);
  overflow: hidden;
}
.controls {
  display: table;
  padding: 10px;
  width: 300px;
  min-height: 300px;
  margin: 20px auto 50px auto;
  background-color: #fff;
  border-radius: 10px;
}
.slogan {
  margin: 40px auto 0 auto;
  width: 320px;
  color: white;
  text-align: center;
  h2 {
    font-weight: bold;
    font-size: 36px;
    span {
      display: block;
      margin-top: 10px;
      font-size: 20px;
      font-weight:normal;
    }
  }
}
.box-panel {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  button {
    position: relative;
    z-index: 2;
    font-size: 16px;
    font-weight: bold;
  }
  &:before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url('../media/barcode-icon.png');
    opacity:0.2;
  }
}
.btn-1 {
  border: none;
  background-color: #7faf3a;
  color: #fff;
  border-radius: 3px;
  padding: 7px 10px;
  cursor: pointer;
}
button:hover {
  background-color: #789e3f;
}
.color-red {
  color: #e92d2d;
}
.desc {
  margin: 10px 0 20px 0;
}
.price {
  font-size: 30px;
  font-weight: bold;
}
.social {
  margin-top: 10px;
  font-size: 26px;
  li {
    margin-right: 10px;
    a {
      color: #3F5AA6;
    }
  }
}
.slick-prev:before, .slick-next:before {
  font-size: 30px !important;
}
.slick-prev, .slick-next {
  width: 30px !important;
  height: 30px !important;
  z-index: 9999;
}
.slick-prev {
  left: -35px !important;
}

.slick-next {
  right: -35px !important;
}
.slick-slide img {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .slick-prev {
    left: -15px !important;
  }
  .slick-next {
    right: -15px !important;
  }
  .slick-prev:before, .slick-next:before{
    color: #514747 !important;
  }
}
