header.header
  div.container
    div.logo
      div(data-slick).slick-nav
        .row
            .col-sm-12
                img(src="media/product-1.jpg", alt="product 1").img-responsive
        .row
            .col-sm-12
                img(src="media/product-2.jpg", alt="product 2").img-responsive
        .row
            .col-sm-12
                img(src="media/product-3.jpg", alt="product 3").img-responsive
        .row
            .col-sm-12
                img(src="media/product-4.jpg", alt="product 4").img-responsive
        .row
            .col-sm-12
                img(src="media/product-5.jpg", alt="product 5").img-responsive
        .row
            .col-sm-12
                img(src="media/product-6.jpg", alt="product 6").img-responsive

