main
  img(src="http://findicons.com/files/icons/49/button/128/button_previous.png", alt="product 2" width="50").back-btn
  div.product-detail
    .row
        .col-sm-4
            img(src="media/product-2.jpg", alt="product 2").img-responsive
        .col-sm-8
            h2.color-red Colour Riche® Lipcolour
            .desc Indulge in richness beyond compare with our most luxuriously rich color and intensely rich hydration. Colour Riche® Lipcolour is richer, creamier and more moisturizing than ever before. In addition to nourishing ingredients like Omega 3 and Vitamin E, the formula is enriched with Argan Oil to condition and soften lips. Your lips are kept soft, smooth, and ultra-hydrated. With a spectrum of 42 gorgeous shades from bold to nearly nude, Colour Riche® Lipcolour offers a shade that’s perfect for every look and any occasion.
            .price 25.00$
            ul.social.list-inline
                li
                    a.fa.fa-twitter
                li
                    a.fa.fa-google-plus
                li
                    a.fa.fa-facebook
                li
                    a.fa.fa-skype
