extends layouts/layout

block container
    main.container#container
        div.slogan
            h2 Barcode Web beta
                span Tra cứu thông tin trên trình duyệt
        div.controls
                .box-panel
                    button().btn-1 Scan barcode
                div#interactive.viewport
                div#debug.detection
    div(data-slick)
        div(style="background-color: yellowgreen;")
            h3 1
        div(style="background-color: yellowgreen;")
            h3 2
        div(style="background-color: yellowgreen;")
            h3 3
        div(style="background-color: yellowgreen;")
            h3 4
        div(style="background-color: yellowgreen;")
            h3 5
        div(style="background-color: yellowgreen;")
            h3 6

