extends layouts/layout

block container
    main
        .container
            .row(style="display:none;")
                .col-sm-4.col-sm-offset-4
                    div.slogan
                        h2 Barcode Web beta
                            span Tra cứu thông tin trên trình duyệt
                    div.controls
                            .box-panel
                                button().btn-1.scan-btn Scan barcode
                            div#interactive.viewport
                            div#debug.detection
            .row
                .col-sm-6.product.col-sm-offset-3
                    div(data-slick).slick-for
                        div
                            a(href="product-detail.html")
                                img(src="media/product-1.jpg", alt="product 1").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-2.jpg", alt="product 2").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-3.jpg", alt="product 3").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-4.jpg", alt="product 4").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-5.jpg", alt="product 5").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-6.jpg", alt="product 6").img-responsive
                    div(data-slick).slick-for
                        div
                            a(href="product-detail.html")
                                img(src="media/product-1.jpg", alt="product 1").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-2.jpg", alt="product 2").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-3.jpg", alt="product 3").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-4.jpg", alt="product 4").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-5.jpg", alt="product 5").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-6.jpg", alt="product 6").img-responsive
                    div(data-slick).slick-for
                        div
                            a(href="product-detail.html")
                                img(src="media/product-1.jpg", alt="product 1").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-2.jpg", alt="product 2").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-3.jpg", alt="product 3").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-4.jpg", alt="product 4").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-5.jpg", alt="product 5").img-responsive
                        div
                            a(href="product-detail.html")
                                img(src="media/product-6.jpg", alt="product 6").img-responsive

