extends layouts/layout

block container
    header
        div.headline
            h1 Demo Scan Barcode From Image
    section.container#container
        div.controls
            fieldset.input-group
                input(type="file" capture)
                button.addSlide Rerun
        div#result_strip
            ul.thumbnails
        div#interactive.viewport
        div#debug.detection
    div(data-slick)
        div(style="background-color: yellowgreen;")
            h3 1
        div(style="background-color: yellowgreen;")
            h3 2
        div(style="background-color: yellowgreen;")
            h3 3
        div(style="background-color: yellowgreen;")
            h3 4
        div(style="background-color: yellowgreen;")
            h3 5
        div(style="background-color: yellowgreen;")
            h3 6

